#root {
  width: 100%;
  height: 100%;
}

#root .ant-layout {
  height: 100%;
}

#root .slideBox {
  height: 100%;
}

#root .slideBox .ant-layout-sider {
  height: 100%;
}

#root .notClass {
  display: none;
}
